{% extends 'base.html.twig' %}

{% block title %}Art & Voyage{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: green">Créer une nouvelle Destination</h1>

    {{ include('destination/_form.html.twig') }}
    
    <a class="btn btn-info" href="{{ path('app_destination_index') }}">retour à la liste</a>
{% endblock %}
