{% extends 'base.html.twig' %}

{% block title %}Art & Voyage{% endblock %}

{% block body %}
    <h1 class="text-center" style="color: green">Editer le voyage</h1>

    {{ include('voyage/_form.html.twig', {'button_label': 'Appliquer'}) }}

    <a class="btn btn-info" href="{{ path('app_voyage_index') }}">retour à la liste</a>

    {{ include('voyage/_delete_form.html.twig') }}
{% endblock %}
